html {
  background-color: lightcyan;
  text-align: center;
}

body {
  background-color: beige;
  border: 3px solid pink;
  width: 850px;
  margin: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 50px;
}
